<section>
    <h1>Setting up an API</h1>
    <h2>2022-02-07</h2>
</section>

<section>
    The next thing I'd like to work on is setting up an api. I'll eventually need this for the following projects:
    <ul>
        <li>Hosting a media server</li>
        <li>My rubix cube timer project</li>
        <li>Storing these log posts in a database</li>
    </ul>
    Here is the game plan going into the api:
    <ol>
        <li>Create Spring boot api locally (I have plenty of experience using the <a href="https://start.spring.io/">spring initializr</a> so this should be straight forward)</li>
        <li>Figure out how to deploy api to AWS  According to the internet, I should deploy my api using Elastic Beanstalk)</li>
        <li>Configure domain so api can be hosted on api.austinhuynh.com or austinhuynh.com/api (I'm not looking forward to this since I've never been able to do it in the past)</li>
        <li>Connect front end to backend</li>
        <li>Setup security (perhaps OAuth?)</li>
    </ol>
</section>

<section>
    As expected, setting up the api locally and getting the api deployed to AWS was straight forward. Getting the domain configured to handle
    a front end and a backend also went as expected: not great. It took me a while to figure out what I wanted to google, which was "how to host
    multiple origins from cloud front". I learned that there would be more problems for me if I were to use a subdomain like "api.austinhuynh.com"
    regarding SSL certificates and CORS policies (the worst). Although my preference is "what ever would be easier", I like the "austinhuynh.com/api/*"
    approach since that's what my work does for a lot of their stuff.
</section>

<section>
    All of that work just so I can see this beautiful response: <span [class.success]="success" [class.fail]="!success">{{response}}</span>
</section>

<section>
    Side note: I want to try to recreate the wordle game along with a tool to help pick words. Add it to the list! Side side note: create a list or todo page.
</section>>

<section>
    <h1>Rinse and repeat</h1>
    <h2>2022-01-23</h2>
</section>

<section>
    <p>
        Once again, I've restarted my personal website project because I didn't like how the last one looks. It seems like this project
        of mine runs through the same lifecycle. First, I start it back up again because I'm interested in learning a new technology
        (this time was AWS). After a few weeks, I either get bored or eventually come to hate what I wrote and drop the project. Well
        this time will be different! Eh... probably not, but I do like how it's looking and it's already been 2 full days!
    </p>

    <p>
        As mentioned before, I decided to try out AWS since cloud development is so popular. Honestly, I wanted to see how easy (or hard)
        it would be to host the full stack of a web application. I don't plan to do much more outside of that.
    </p>
</section>

<section>
    <p>Anyways, let me catch you up on the last 2 days.</p>
</section>

<section>
    <p>
        Day 1. I spent a few hours looking around at different websites for inspiration on my own layout. I used 5 different sites and came up
        with what you see now. I'm a big fan of minimalistic design and sometimes that leads me to a stale or bland look. Some of the ideas I picked
        up from the different sites include: using an accent color, styling my favorite quotes, and shrinking the width of the main content. My
        goal is to keep this as simple as possible. I'm going to do my best to not pull in a CSS framework.
    </p>
</section>

<section>
    <p>
        Day 2. I was shocked that it only took me the morning to figure out how to host this Angular application on AWS and hook it up with my
        domain name. This was much more painful when I tried it with Heroku and Digital Ocean although my problems came from my lack of
        knowledge. Shout out to youtube videos and blog posts! I spent the rest of the day cleaning up code, and writing more content.
    </p>
</section>

<section>
    <p>Last but not least, I can't forget to make a checklist of all things I want to do:</p>
    <ul>
        <li>Figure out how to deploy code automatically from Bitbucket</li>
        <li>Add photo albums</li>
        <li>Create and host a media server with my old desktop</li>
        <li>Create an api to pull photos and videos into an album from the media server</li>
        <li>Make my website awesome by automatically pulling albums in</li>
        <li>Anime tracking app?</li>
        <li>Hook into Spotify to display my top songs and podcasts</li>
        <li>Track my tennis results by pulling data from UTR or USTA</li>
        <li>Randomize my favorite quotes and create an admin page for me to upload to</li>
    </ul>
</section>

<section style="margin-bottom: 0;">
    <p>I also strung one of my tennis racquets. Something that also takes me too much time, but is worth it in the long</p>
</section>

<video autoplay style="width: 100%; margin-bottom: 4rem;" controls autoplay>
	<source src="assets/stringing-raquet.mp4">
</video>

