<div>
	<div style="padding-right: 33%; margin-top: 4rem; margin-bottom: 4rem;">
		<h1>Hello, I'm <span class="highlight">Austin</span>.</h1>
		<h2>I'm a <span class="highlight">software developer</span> from Michigan. I write code, travel, and play tennis.</h2>
	</div>
</div>

<p style="padding-right: 33%;">
Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
</p>

<p style="padding-right: 33%;">
It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
</p>


<div class="blockquote" style="margin-top: 6rem; margin-bottom: 6rem;">
	<h3>If you can't explain it to a six year old, you don't understand it yourself.</h3>
	<h4>&mdash;Albert Einstein</h4>
</div>
 
<div class="links" style="margin-bottom: 2rem; display: flex;">
	<div style="flex: 30%; ">
		<a href="#" class="link">Colorado 2021</a>
	</div>
	<div style="flex: 70%;">
		<figure>
			<img src="assets/colorado.png" />
		</figure>
	</div>
</div>
<div class="links" style="margin-bottom: 2rem; display: flex;">
	<div style="flex: 30%;">
		<a href="#" class="link">Vietnam 2018</a>
	</div>
	<div style="flex: 70%;">
		<figure>
			<img src="assets/vietnam.png" />
		</figure>
	</div>
</div>

<div class="blockquote" style="margin-top: 4rem; margin-bottom: 4rem;">
	<h3>It's not enough for code to work</h3>
	<h4>&mdash;Robert C. Martin</h4>
</div>