<!-- <p>
  <img class="uk-align-center" data-src="assets/austin-nhu-1.jpg" width="750" height="350" alt="Austin and his sister in Vietnam." uk-img />
</p> -->


<h1 class="uk-h1 tm-heading-fragment">Hello, I'm Austin</h1> 

<div class="uk-grid uk-child-width-expand@s" uk-grid>
  <div>   
    <p>
      <img class="avatar" data-src="assets/austin_avatar.jpeg" width="300" height="300" alt="" uk-img />
  </p>
  </div>
  <div>
    <p>
      <span class="uk-margin-small-right" uk-icon="icon: code; ratio: 2"></span>Senior Software Developer
  </p>
  
  <p>
      <span class="uk-margin-small-right" uk-icon="icon: bookmark; ratio: 2"></span>Bachelor's in Computer Science and Engineering from <a href="https://msu.edu/">Michigan State</a>
  </p>
  
  <p>
      <span class="uk-margin-small-right" uk-icon="icon: location; ratio: 2"></span> Lansing, Michigan
  </p>
  <p>
      <a href="https://www.github.com/huynhaus">
          <span class="uk-margin-small-right" uk-icon="icon: github; ratio: 2"></span>
      </a>
      <a href="www.linkedin.com/in/huynhaus">
          <span class="uk-margin-small-right" uk-icon="icon: linkedin; ratio: 2"></span>
      </a>
  </p>

  <p>
    <span class="uk-margin-small-right" uk-icon="icon: world; ratio: 2"></span>Denver, Boston, Portland, Vietnam
  </p>

  </div>
</div>