<section style="margin-bottom: 4rem;">
	<div>
		<h1>Hello, I'm <span class="highlight">Austin</span>.</h1>
		<h2>I'm a <span class="highlight">software developer</span> from Michigan. I write code, travel, and play tennis.</h2>
	</div>
</section>

<section>
	<p>
		I've been developing code for an insurance company for 8+ years. I've had plenty of opportunities to learn different technologies, but I'm currently working as a full stack developer using Angular, Springboot, SQL Server, and Openshift. I typically write web applications and integrations for internal or external use. I focus on writing readable, maintainable, and simple code when possible. I'm passionate about learning more and improving my own skills. Although I have more experience using Spring and Java, I'm currently interested in learning more about UI design and general Angular development. Other fields I'd like to learn more about are cloud applications, security and efficiency.
	</p>
	<p>
		My family immigrated from Vietnam which makes me a second generation American. For fun, I love playing tennis. I've played tennis for 20+ years and you can find me playing various UTR (9.0) or USTA (4.5) leagues and tournaments.
	</p>
</section>

<app-quote 
	quote="If you can't explain it to a six year old, you don't understand it yourself."
	author="Albert Einstein"
>
</app-quote>

<app-image-link
	title="Colorado 2021"
	imgSrc="assets/colorado.png"
>
</app-image-link>

<app-image-link
	title="Vietnam 2018"
	imgSrc="assets/vietnam.png"
>
</app-image-link>

<app-quote 
	quote="It's not enough for code to work."
	author="Robert C. Martin"
>
</app-quote>
